<!doctype html>
<html ng-app="salary">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Salary</title>

		<!-- Libraries -->
		<link rel="stylesheet" type="text/css" href="libs/foundation/css/foundation.min.css">
		<link rel="stylesheet" type="text/css" href="libs/foundation/css/normalize.css">

		<script type="text/javascript" src="libs/angular/angular.min.js"></script>

		<!-- Project sources -->

		<script type="text/javascript" src="salary/js/exchangeService.js"></script>
		<script type="text/javascript" src="salary/js/salary.js"></script>
	</head>
	<body ng-controller="salaryController">
		<div class="small-12 large-4 large-offset-4 columns">
			<div class="row">
				<h1>Salary</h1>
			</div>
			<div class="row">
				<p>Calculate your salary in accordance with a time period</p>
			</div>
			<div class="row">
				<label>Hour rate (40 hrs week):</label>
				<input type="text" maxlength = "19" ng-model="hourRate" placeholder="Enter hour rate" ng-change="update_hour_rate()" />
			</div>
			<div class="row">
				<label>Monthly salary:</label>
				<input type="text" maxlength = "19" ng-model="monthly" placeholder="Enter monthly salary" ng-change="update_monthly_salary()" />
			</div>
			<div class="row">
				<label>Quarter salary:</label>
				<input type="text" maxlength = "20" ng-model="quarter" placeholder="Enter quarter salary" ng-change="update_quarter_salary()" />
			</div>
			<div class="row">
				<label>Annual salary:</label>
				<input type="text" maxlength = "21" ng-model="annual" placeholder="Enter annual salary" ng-change="update_annual_salary()" />
			</div>
			<div class="row">
				<label>Currency:</label>
				<select ng-model="currency" ng-options="currency for currency in currencies" ng-change="change_currency()"></select>
			</div>
		</div>
		
		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
		(function (d, w, c) {
		    (w[c] = w[c] || []).push(function() {
		        try {
		            w.yaCounter26046186 = new Ya.Metrika({id:26046186,
		                    webvisor:true,
		                    clickmap:true,
		                    trackLinks:true,
		                    accurateTrackBounce:true});
		        } catch(e) { }
		    });
		
		    var n = d.getElementsByTagName("script")[0],
		        s = d.createElement("script"),
		        f = function () { n.parentNode.insertBefore(s, n); };
		    s.type = "text/javascript";
		    s.async = true;
		    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
		
		    if (w.opera == "[object Opera]") {
		        d.addEventListener("DOMContentLoaded", f, false);
		    } else { f(); }
		})(document, window, "yandex_metrika_callbacks");
		</script>
		<noscript><div><img src="//mc.yandex.ru/watch/26046186" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
		
	</body>
</html>
